# curl https://www.centos.org/download/full-mirrorlist.csv | sed 's/^.*"http:/http:/' | sed 's/".*$//' | grep ^htt
http://mirror.liquidtelecom.com/centos/
http://mirror.ng/centos/
http://mirror.bitco.co.za/centos/
http://ftp.is.co.za/mirror/centos/
http://dl.za.jsdaav.net/mirror/CentOS/
http://www.ftp.saix.net/pub/linux/distributions/centos/
http://centos.mirror.ac.za/
http://mirror.ufs.ac.za/centos/
http://mirror.wbs.co.za/centos/
http://ftp.wa.co.za/pub/centos/
http://mirror.wiru.co.za/centos/
http://mirror.aptus.co.tz/pub/centos/
http://mirror.ucu.ac.ug/centos/
http://mirror.zol.co.zw/centos/
http://mirror.dhakacom.com/centos/
http://mirrors.zju.edu.cn/centos/
http://mirrors.aliyun.com/centos/
http://mirror.bit.edu.cn/centos/
http://mirrors.btte.net/centos/
http://mirrors.cn99.com/centos/
http://mirrors.neusoft.edu.cn/centos/
http://mirror.lzu.edu.cn/centos/
http://mirrors.163.com/centos/
http://mirrors.nwsuaf.edu.cn/centos/
http://mirrors.sina.cn/centos/
http://mirrors.sohu.com/centos/
http://mirrors.tuna.tsinghua.edu.cn/centos/
http://centos.ustc.edu.cn/centos/
http://centos.01link.hk/
http://mirror.vpshosting.com.hk/pub/linux/centos/
http://centos.communilink.net/
http://centos.uhost.hk/
http://centos.nethub.com.hk/
http://mirror.sunnyvision.com/centos/
http://ftp.cuhk.edu.hk/pub/Linux/centos/
http://repo.virtualhosting.hk/centos/
http://centosmirror.go4hosting.in/
http://centos.excellmedia.net/
http://ftp.iitm.ac.in/centos/
http://mirror.nbrc.ac.in/centos/
http://centos.mirror.net.in/centos/
http://mirror.dionipe.net/Centos/
http://kodeterbuka.beritagar.id/centos/
http://kartolo.sby.datautama.net.id/Centos/
http://centos.jr-webhost.net/
http://centos.merahciptamedia.id/
http://repo.apiknet.co.id/centos/
http://mirror.axarva.co.id/centos/
http://centos.mirror.angkasa.id/centos/
http://mirror.nes.co.id/centos/
http://mirror.smartmedia.net.id/centos/
http://mirror.poliwangi.ac.id/centos/
http://mirror.earthlink.iq/centos/
http://mirror.scopesky.iq/
http://mirror.fairway.ne.jp/centos/
http://ftp.iij.ad.jp/pub/linux/centos/
http://ftp.jaist.ac.jp/pub/Linux/CentOS/
http://www.ftp.ne.jp/Linux/packages/CentOS/
http://ftp.nara.wide.ad.jp/pub/Linux/centos/
http://ftp.riken.jp/Linux/centos/
http://ftp.tsukuba.wide.ad.jp/Linux/centos/
http://ftp.yz.yamagata-u.ac.jp/pub/linux/centos/
http://mirror.hoster.kz/centos/
http://mirror.megahost.kz/centos/
http://mirror.neolabs.kz/centos/
http://mirror.navercorp.com/centos/
http://data.nicehosting.co.kr/os/CentOS/
http://centos.mirror.cdnetworks.com/
http://ftp.daumkakao.com/centos/
http://ftp.kaist.ac.kr/CentOS/
http://ftp.neowiz.com/centos/
http://mirror.oasis.onnetcorp.com/centos/
http://centos.exabytes.com.my/main/
http://centos.ipserverone.com/centos/
http://centos.netonboard.com/centos/
http://mirror.oscc.org.my/centos/
http://mirror.itools.mn/
http://mirrors.nayatel.com/centos/
http://mirror.pregi.net/centos/
http://mirror.rise.ph/centos/
http://download.nus.edu.sg/mirror/centos/
http://mirror.0x.sg/centos/
http://mirror.readyspace.com/centos/
http://centos.usonyx.net/main/
http://mirror.vastspace.net/centos/
http://mirror.vodien.com/centos/
http://ftp.stu.edu.tw/Linux/CentOS/
http://ftp.yzu.edu.tw/Linux/CentOS/
http://centos.cs.nctu.edu.tw/
http://ftp.isu.edu.tw/pub/Linux/CentOS/
http://ftp.ksu.edu.tw/pub/CentOS/
http://ftp.twaren.net/Linux/CentOS/
http://ftp.stust.edu.tw/pub/Linux/CentOS/
http://ftp.tc.edu.tw/Linux/CentOS/
http://mirror.adminbannok.com/centos/
http://mirrors.bangmodhosting.com/centos/
http://mirrors.bestthaihost.com/centos/
http://mirrors.hosting.in.th/centos/
http://mirror1.ku.ac.th/centos/
http://mirrors.psu.ac.th/pub/centos/
http://mirrors.thzhost.com/centos/
http://mirror2.totbb.net/centos/
http://mirror.comnet.uz/centos/
http://mirrors.aluhost.com/centos/
http://mirrors.digipower.vn/centos/
http://mirrors.nhanhoa.com/centos/
http://mirrors.vhost.vn/centos/
http://mirrors.viethosting.vn/centos/
http://centos-hcm.viettelidc.com.vn/
http://centos-hn.viettelidc.com.vn/
http://mirrors.vinahost.vn/centos/
http://mirrors.vonline.vn/centos/
http://mirror.esecuredata.com/centos/
http://mirror.its.sfu.ca/mirror/CentOS/
http://centos.les.net/
http://muug.ca/mirror/centos/
http://centos.westmancom.com/
http://mirror.its.dal.ca/centos/
http://centos.mirrors.atwab.net/
http://centos.mirror.rafal.ca/
http://less.cogeco.net/CentOS/
http://mirror.netflash.net/centos/
http://mirror.csclub.uwaterloo.ca/centos/
http://mirror.netaddicted.ca/CentOS/
http://ca.mirror.babylon.network/centos/
http://mirror2.evolution-host.com/centos/
http://centos.mirror.gtcomm.net/
http://mirror.gpmidi.net/centos/
http://centos.mirror.iweb.ca/
http://centos.mirror.netelligent.ca/centos/
http://centos.bhs.mirrors.ovh.net/ftp.centos.org/
http://centos.mirror.ca.planethoster.net/
http://centos.mirror.vexxhost.com/
http://centos.mirrors.arminco.com/
http://mirror.digitalnova.at/CentOS/
http://mirror.easyname.at/centos/
http://gd.tuwien.ac.at/opsys/linux/centos/
http://centos.mirroraustria.at/
http://mirror.nextlayer.at/centos/
